<div class="container">
    <div class="gifts">
        <div class="banner-header">
            <h3 class="title">GIFT <span>50% OFF</span> PERFECT STYLES</h3>
            <p>Only until the end of this week. Terms and conditions apply</p>
        </div>
        <button>Discover Now</button>
    </div>
    <div class="details">
            <div class="delivery type">
                <img src='../../assets/icons/delivery.png' alt='delivery' />
                <div class="box">
                    <h4>Fast Delivery</h4>
                    <span>Start from $10</span>
                </div>
            </div>
            <div class="money type">
                <img src='../../assets/icons/wallet.png' alt='money' />
                <div class="box">
                    <h4>Money Guarantee</h4>
                    <span>7 Days Back</span>
                </div>
            </div>
            <div class="return type">
                <img src='../../assets/icons/return.png' alt='return' />
                <div class="box">
                    <h4>14 Days</h4>
                    <span>For free return</span>
                </div>
            </div>
           <div class="payment type">
            <img src='../../assets/icons/payment.png' alt='payment' />
            <div class="box">
                <h4>Payment</h4>
                <span>Secure system</span>
            </div>
           </div>
    </div>
</div>