<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="logo">
                    <img src="../../assets/logo2.svg" alt='logo' class="mb-3" />
                    
                    <p class='subTitle'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor libero id et, in gravida. Sit diam duis mauris nulla cursus. Erat et lectus vel ut sollicitudin elit at amet.</p>
                    <div class="download d-flex">
                        <a href='#' >
                            <div class="play-store d-flex">
                                <div class="download-logo">
                                    <img src="../../assets/icons/google-paly.svg" alt='logo' />
                                </div>
                                <div class="download-title">
                                    <div class="title hint">Get it on</div>
                                    <div class="title main">Google Play</div>
                                </div>
                            </div>
                        </a>
                        <a href='#' >
                            <div class="app-store d-flex">
                                <div class="download-logo">
                                    <img src="../../assets/icons/app-store.svg" alt='icon' />
                                </div>
                                <div class="download-title">
                                    <div class="title hint">Download on the</div>
                                    <div class="title main">App Store</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-2">
                <div class="about-us">
                    <h3 class="mb-3">About Us</h3>

                    <a href="#" class="link subTitle">Careers</a>
                    <a href="#" class="link subTitle">Our Stores</a>
                    <a href="#" class="link subTitle">Our Cares</a>
                    <a href="#" class="link subTitle">Terms & Conditions</a>
                    <a href="#" class="link subTitle">Privacy Policy</a>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-2">
                <div class="customer-care">
                    <h3 class="mb-3">Customer Care</h3>

                    <a href="#" class="link subTitle">Help Center</a>
                    <a href="#" class="link subTitle">How to Buy</a>
                    <a href="#" class="link subTitle">Track Your Order</a>
                    <a href="#" class="link subTitle">Corporate & Bulk Purchasing</a>
                    <a href="#" class="link subTitle">Returns & Refunds</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-us">
                    <h3 class="mb-3 title">Contact Us</h3>

                    <p class='subTitle'>12 Farouk Street, Hadayaa, Giza, Cairo</p>
                    <p class='subTitle'>Email: bazaar@gmail.com</p>
                    <p class='subTitle'>Phone: 0123456789</p>
                </div>
            </div>
        </div>
        <div class="developer">
            <h4>make with 
                <i class='pi pi-heart-fill'></i>
                By: 
                <a href='https://muhammed-portfolio.vercel.app/' target='_blank'>Muhammed Osama</a>
            </h4>
        </div>
    </div>
</footer>