<div class="login-modal">
    <h3 class="title">Welcome To Bazaar</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group email">
            <label>Email</label>
            <input type='text' name='email' ngModel required placeholder="exmple@mail.com"/>
        </div>
        <div class="form-group password">
            <label>Password</label>
            <input type='password' name='password' ngModel required placeholder='*******' minlength="6" />
            <span class="forgotPassword">Forgot your password?
                <a href='#'>Reset It</a>
            </span>
        </div>
        <input type="submit" class='submit' [disabled]='loginForm.invalid' name="Login" />
    </form>
    <div class="or">
        or
    </div>
    <div class="continueWith">
        <div class="google">
            <a href='#'>
                <i class="pi pi-google"></i>
                Continue With Google
            </a>
        </div>
        <div class="facebook">
            <a href='#'>
                <i class="pi pi-facebook"></i>
                Continue With Facebook
            </a>
        </div>
        <div class="createAccount">
            <p>
                Don't have account?
                <a href='#'>
                    Sign Up
                </a>
            </p>
        </div>
    </div>
</div>