<div class="header">
    <div class="container">
        <div class="row">
            <div class=" col-lg-3">
                <div class="categories">
                    <ul class='categories-list'>
                        <li class='category-item' appHoverClass>
                            <div class="item" >
                                <img src='../../assets/icons/fashion.png' alt='fashion' />
                                    Fashion
                                <i class="pi pi-angle-right"></i>
                            </div>
                            <div class="menu">
                                <div class="men items mb-3">
                                    <div class="man-clothes">
                                        <a href="#" class="title">man clothes</a>
                                        <a href='#' class='link'>shirt</a>
                                        <a href='#' class='link'>t-Shirt</a>
                                        <a href='#' class='link'>pant</a>
                                        <a href='#' class='link'>underwear</a>
                                    </div>
                                    <div class="accessories">
                                        <a href="#" class="title">accessories </a>
                                        <a href='#' class='link'>Belt</a>
                                        <a href='#' class='link'>Hat</a>
                                        <a href='#' class='link'>Watches</a>
                                        <a href='#' class='link'>Sunglasses</a>
                                    </div>
                                    <div class="shoes">
                                        <a href="#" class="title">Shoes </a>
                                        <a href='#' class='link'>Sneakers</a>
                                        <a href='#' class='link'>Sandals</a>
                                        <a href='#' class='link'>Formal</a>
                                        <a href='#' class='link'>Casual</a>
                                    </div>
                                    <div class="bags">
                                        <a href="#" class="title">bags </a>
                                        <a href='#' class='link'>Backpack</a>
                                        <a href='#' class='link'>Crossbody Bags</a>
                                        <a href='#' class='link'>Side Bags</a>
                                        <a href='#' class='link'>Slides</a>
                                    </div>
                                </div>
                                <div class="women items">
                                    <div class="woman-clothes">
                                        <a href="#" class="title">woman clothes</a>
                                        <a href='#' class='link'>shirt</a>
                                        <a href='#' class='link'>t-Shirt</a>
                                        <a href='#' class='link'>pant</a>
                                        <a href='#' class='link'>underwear</a>
                                    </div>
                                    <div class="accessories">
                                        <a href="#" class="title">accessories </a>
                                        <a href='#' class='link'>Belt</a>
                                        <a href='#' class='link'>Hat</a>
                                        <a href='#' class='link'>Watches</a>
                                        <a href='#' class='link'>Sunglasses</a>
                                    </div>
                                    <div class="shoes">
                                        <a href="#" class="title">Shoes </a>
                                        <a href='#' class='link'>Sneakers</a>
                                        <a href='#' class='link'>Sandals</a>
                                        <a href='#' class='link'>Formal</a>
                                        <a href='#' class='link'>Casual</a>
                                    </div>
                                    <div class="bags">
                                        <a href="#" class="title">bags </a>
                                        <a href='#' class='link'>Backpack</a>
                                        <a href='#' class='link'>Crossbody Bags</a>
                                        <a href='#' class='link'>Side Bags</a>
                                        <a href='#' class='link'>Slides</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='category-item electronics' appHoverClass>
                            <div class="item">
                                <img src='../../assets/icons/electronic.png' alt='electronic' />
                                Electronics
                                <i class="pi pi-angle-right"></i>
                            </div>
                            <div class="menu">
                                <div class=" items mb-4">
                                    <div class="tvs ">
                                        <a href="#" class="title">Television & Video</a>
                                        <a href='#' class='link'>LED & LCD TVs</a>
                                        <a href='#' class='link'>Receiver</a>
                                        <a href='#' class='link'>Streaming Media Players</a>
                                    </div>
                                    <div class="cameras">
                                        <a href="#" class="title">Cameras </a>
                                        <a href='#' class='link'>Digital Cameras</a>
                                        <a href='#' class='link'>Wearable & Action cameras</a>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="home-audio">
                                        <a href="#" class="title">Home Audio</a>
                                        <a href='#' class='link'>Home Theater Systems</a>
                                        <a href='#' class='link'>Speakers</a>
                                        <a href='#' class='link'>Portable Speakers & Docks</a>
                                    </div>
                                    <div class="headphones">
                                        <a href="#" class="title">Headphones </a>
                                        <a href='#' class='link'>Over-Ear Headphones</a>
                                        <a href='#' class='link'>Earbud Headphones</a>
                                        <a href='#' class='link'>On-Ear Headphones</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='category-item home' appHoverClass>
                            <div class="item">
                                <img src='../../assets/icons/garden.png' alt='garden' />
                                Home & Garden
                                <i class="pi pi-angle-right"></i>
                            </div>
                            <div class="menu">
                                <div class=" items mb-4">
                                    <div class="home-kitchen ">
                                        <a href="#" class="title">HOME & KITCHEN</a>
                                        <a href='#' class='link'>Bedding</a>
                                        <a href='#' class='link'>Bath</a>
                                        <a href='#' class='link'>Storage & Organization</a>
                                    </div>
                                    <div class="kitchen">
                                        <a href="#" class="title">Kitchen & Dining </a>
                                        <a href='#' class='link'>Furniture</a>
                                        <a href='#' class='link'>Home Decor</a>
                                        <a href='#' class='link'>Lighting</a>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="tools">
                                        <a href="#" class="title">TOOLS & HOME IMPROVEMENT</a>
                                        <a href='#' class='link'>Electrical</a>
                                        <a href='#' class='link'>Hardware</a>
                                        <a href='#' class='link'>Light Bulbs</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='category-item gift' appHoverClass>
                            <div class="item">
                                <img src='../../assets/icons/gift.png' alt='gift' />
                                Gifts
                                <i class="pi pi-angle-right"></i>
                            </div>
                            
                            <div class="menu">
                                <div class=" items mb-4">
                                    <div class="PLAYSTATION5 ">
                                        <a href="#" class="title">PLAYSTATION 5</a>
                                        <a href='#' class='link'>Games</a>
                                        <a href='#' class='link'>Controllers</a>
                                        <a href='#' class='link'>Cards</a>
                                    </div>
                                    <div class="PLAYSTATION4">
                                        <a href="#" class="title">PLAYSTATION 4 </a>
                                        <a href='#' class='link'>PS4 Games</a>
                                        <a href='#' class='link'>PS4 Controllers</a>
                                        <a href='#' class='link'>Cards</a>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="xbox">
                                        <a href="#" class="title">XBOX</a>
                                        <a href='#' class='link'>Games</a>
                                        <a href='#' class='link'>Controllers</a>
                                        <a href='#' class='link'>Accessories</a>
                                    </div>
                                    <div class="ps-games">
                                        <a href="#" class="title">PC GAMING </a>
                                        <a href='#' class='link'>Gaming Laptops</a>
                                        <a href='#' class='link'>Headsets</a>
                                        <a href='#' class='link'>Keyboards</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='category-item beauty'>
                            <div class="item">
                                <a href='#'>
                                    <img src='../../assets/icons/beauty.png' alt='beauty' />
                                    Health & Beauty
                                </a>
                            </div>
                        </li>
                        <li class='category-item toys'>
                            <div class="item">
                                <a href='#'>
                                    <img src='../../assets/icons/baby-toy.png' alt='toys' />
                                    Baby Toys
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="banners">
                    <p-carousel [value]="numOfBanners" [numVisible]="1"  [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions">
                        <ng-template let-gender pTemplate="item1">
                            <div class="banner" [style.background-image]=" 'url(' + gender.img + ')' ">
                                <div class="details">
                                    <h4 class='title'>Lifestyle collection</h4>
                                    <h1 class='gender'>{{gender.type}}</h1>
                                    <h4 class="sale">
                                        SALE UP TO 
                                        <span>30% OFF</span>
                                    </h4>
                                    <p>Get Free Shipping on orders over $99.00</p>
                                    <button>shop now</button>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="market">
                    <div class="banner banner3">
                        <div class="details">
                            <p class='title'>NEW ARRIVALS</p>
                            <p class="sale">
                                SUMMER 
                                <br>
                                SALE 20% OFF
                            </p>
                            <a href='#' class='link-hover'>
                                shop now
                                <i class="pi pi-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="banner banner4">
                        <div class="details">
                            <p class='title'>GAMING 4K</p>
                            <h4 class="sale">
                                DESKTOPS & 
                                <br>
                                LAPTOPS
                            </h4>
                            <a href='#' class="link-hover">
                                shop now
                                <i class="pi pi-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>